.clip-left-triangle {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
  
  .clip-right-triangle {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 10px #facc15, 0 0 20px #facc15, 0 0 30px #facc15;
    }
    100% {
      text-shadow: 0 0 20px #facc15, 0 0 30px #facc15, 0 0 40px #facc15;
    }
  }
  
  .animate-glow {
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-appear {
    animation: appear 1s ease-out forwards;
  }
  
  .glow-red {
    color: white;
    text-shadow:
      0 0 5px red,
      0 0 10px red,
      0 0 20px red,
      0 0 40px red;
  }
  
  .glow-image-wrapper {
    padding: 20px; /* ~5mm */
    background-color: white;
    border-radius: 12px;
    box-shadow:
      0 0 5px red,
      0 0 10px red,
      0 0 20px red,
      0 0 30px red;
  }
  